@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  background-color: #0E2A47 !important;
}
body .text-danger {
  color: #DD1133 !important;
}
body a {
  text-decoration: none !important;
}
body .btn {
  padding: 0%;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  font-size: 0.9rem;
  box-shadow: none !important;
}
body .btn.btn-danger {
  background-color: #DD1133 !important;
  border-color: #DD1133 !important;
}
body nav {
  background-color: #0E2A47;
}
body nav .container .navbar-toggler {
  opacity: 1 !important;
  background-color: #DD1133;
  border-radius: 0%;
  height: 35px;
  box-shadow: none !important;
}
body .hero {
  height: 100vh;
  width: 100%;
  background: url("../Assets/Images/Circuit Primary.svg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  body .hero {
    background: url("../Assets/Images/Circuit Primary-mobile.svg");
  }
}
@media screen and (max-width: 425px) and (max-width: 414px) {
  body .hero {
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
body .hero .container .col-md-8 .hero_text h1 {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  body .hero .container .col-md-8 .hero_text h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  body .hero .container .col-md-8 .hero_text h1 {
    font-size: 1.8rem;
  }
}
body .hero .container .col-md-8 .hero_text p {
  width: 70%;
}
@media screen and (max-width: 768px) {
  body .hero .container .col-md-8 .hero_text p {
    width: 100%;
    font-size: 0.8rem;
  }
}
body main section {
  padding: 5rem 0px;
}
body main section.services .container h1 {
  font-size: 3rem;
  position: relative;
}
body main section.services .container h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0%;
  height: 3px;
  width: 100px;
  background-color: #3A7CC3;
}
@media screen and (max-width: 768px) {
  body main section.services .container h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  body main section.services .container .mt-4 .row {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) and (max-width: 425px) {
  body main section.services .container .mt-4 .row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  body main section.services .container .mt-4 .row .col-md-4 {
    width: 100%;
  }
}
body main section.services .container .mt-4 .row .col-md-4 .card {
  background-color: #1b324b;
  border-color: #1b324b !important;
  border-radius: 0%;
}
body main section.portfolio .container .row .col-md-4 {
  margin-top: 20px;
}
body main section.portfolio .container .row .col-md-4 .card {
  background-color: #1b324b;
  border-color: #1b324b !important;
  border-radius: 0%;
}
body main section.contact {
  background: url("../Assets/Images/World Map.svg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  body main section.contact .container p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  body main section.contact .container p br {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */