@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #0E2A47 !important;

    .text-danger {
        color: #DD1133 !important;
    }

    // btn style
    .btn {
        padding: 0%;
        height: 50px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0%;
        font-size: .9rem;
        box-shadow: none !important;

        &.btn-danger {
            background-color: #DD1133 !important;
            border-color: #DD1133 !important;
        }
    }

    // navbar
    nav {
        background-color: #0E2A47;

        .container {
            .navbar-toggler {
                opacity: 1 !important;
                background-color: #DD1133;
                border-radius: 0%;
                height: 35px;
                box-shadow: none !important;
            }
        }
    }

    .hero {
        height: 100vh;
        width: 100%;
        background: url('../Assets/Images/Circuit\ Primary.svg');
        background-position: center;
        background-size: cover;

        @media screen and (max-width: 425px) {
            background: url('../Assets/Images/Circuit\ Primary-mobile.svg');

            @media screen and (max-width: 414px) {
                background-position: bottom;
                background-repeat: no-repeat;
            }
        }

        .container {
            .col-md-8 {
                .hero_text {
                    h1 {
                        font-size: 3rem;

                        @media screen and (max-width: 768px) {
                            font-size: 2rem;

                            @media screen and (max-width: 375px) {
                                font-size: 1.8rem;
                            }
                        }
                    }

                    p {
                        width: 70%;

                        @media screen and (max-width: 768px) {
                            width: 100%;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }

    // main 
    main {
        // services
        section {
            padding: 5rem 0px;

            &.services {
                .container {
                    h1 {
                        font-size: 3rem;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            left: 0%;
                            height: 3px;
                            width: 100px;
                            background-color: #3A7CC3;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 2rem;
                        }
                    }

                    .mt-4 {
                        .row {
                            @media screen and (max-width: 768px) {
                                display: grid !important;
                                grid-template-columns: 1fr 1fr;

                                @media screen and (max-width: 425px) {
                                    grid-template-columns: 1fr;
                                }

                                .col-md-4 {
                                    width: 100%;
                                }
                            }

                            .col-md-4 {
                                .card {
                                    background-color: #1b324b;
                                    border-color: #1b324b !important;
                                    border-radius: 0%;
                                }
                            }
                        }
                    }
                }
            }

            &.contact {
                background: url('../Assets/Images/World\ Map.svg');
                background-position: center;
                background-size: cover;
                // background-attachment: fixed;

                .container {
                    p {
                        @media screen and (max-width: 425px) {
                            font-size: .8rem;
                        }

                        br {
                            @media screen and (max-width: 425px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}